body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#busStopsContainer {
    display: flex;
    justify-content: center;
    gap:1vw;
}

.table-wrapper{
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

table {
    background-color: #1E1E1E;
    border-spacing: 0;
    color: white;
    z-index: 10;
}

th {
    background-color: #2A2A2A;
    color: white;
    padding: 10px;
    font-size: 1.2em;
}    

th sup{
    color: rgb(167, 167, 167);
    font-size: small;
    font-style: italic;
}

tr{
    color:rgb(255, 186, 96);
    background-color: #1E1E1E;
}

td {
    padding: 10px;
    height: 30px;
    border-block: 1px solid #3C3C3C;
}

#time{
color: rgb(187, 238, 217);
}

#minutes{
    color: rgb(228, 215, 104);
}

#soon{
    color: rgb(230, 83, 47);
}

#now{
    color: rgb(255, 20, 40);
}

#busLine {
    background-color: #75daad;
    color: black;
    font-weight: bold;
}

#config_container {
    background-color: #1E1E1E;
    color: white;
}

details.noarrow summary::marker {
    content: none;
}

details.noarrow summary::-webkit-details-marker {
    display: none;
}

details.noarrow summary {
    opacity: 50%;
    list-style: none;
    cursor: pointer;

}

details.noarrow summary:hover {
    cursor: pointer;
}

details textarea {
    font-size: large;
    width: 480px;
    height: 640px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

summary::after {
    content: "⚙️";
    margin-left: 8px;
    font-size: 0.9em;
}

details[open] summary::after {
    content: "✖";
}

#config_menu {
    z-index: 10;
    position: absolute;
    top: 15px;
    left: 15px;
}


*::-webkit-scrollbar {
    display:none;
}